.containerstory {
    display: flex;
    padding: 10px;
    align-items: flex-start;
    background-color: #f9f9f9;
    border: 1px solid lightgray;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5px;
}

.gradient {
    background: linear-gradient(rgb(231, 0, 231), rgba(255, 115, 0));
    border-radius: 50%;
    padding: 2px;
    margin-left: 10px;
}

.containerstoryimg img {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border-color: blue;
    
}

.containerstory h2{
    margin: 0;
}